body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#marineImg {
    width: 300px;
}

/* Prestylovani checkboxu na prepinac */
/* label jako kontejner */
.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* skryti checkboxu */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* stylujeme posuvnik */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: silver;
    border-radius: 34px;
    transition: 0.4s;      
}

/* posuvnik - ve vypnutem stavu */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s; 
}

/* posuvnik v zapnutem stavu */
input:checked + .slider {
    background-color: black;
}

/* posun slideru pri zapinani / vypinani */
input:checked + .slider:before {
    transform: translateX(26px);
}